<section class="lead-grid animsition" 
  data-animsition-in-class="fade-in"
  data-animsition-in-duration="1000"
  data-animsition-out-class="fade-out"
  data-animsition-out-duration="800"
>
  <div class="card-list" id="event-list">
    <div class="page-header">
      <input class="search" placeholder="Search...">
      <div class="sort-holder">
        <span class="sort" data-sort="event_name">Sort by event</span>
        <span class="sort" data-sort="date">Sort by date</span>
      </div>
    </div>

    <section class="cd-modal">
      <svg class="icon-close cd-modal-close"><use xlink:href="assets/js/symbol-defs.svg#icon-close"></use></svg> 
      <div class="container">
        <div class="page-header clearfix">
          <div class="pull-right">
            <span class="event-date"></span>
          </div>
        </div>
        <h1 class="event-name"></h1>
        <div class="page-header">
          <div class="panel-holder">
            <label>Country</label>
            <p class="event-country"></p>
          </div>
        </div>
        <div class="remodal card-pop-modal remove-event-modal" data-remodal-id="remove-event-modal" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">

          <button data-remodal-action="close" class="remodal-close"></button>
          <h1>Delete Event</h1>
          <p>
            Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
          </p>
          <br>
          <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
          <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
        </div>
      </div>
    </section> 
    
    <ul class="row row-fluid list-unstyled list">
    </ul>
    <ul class="pagination"></ul>
    <div class="fab download-report-fab animated" data-remodal-target="add-event-modal">
      <svg class="icon icon-calendar-plus-o"><use xlink:href="assets/js/symbol-defs.svg#icon-calendar-plus-o"></use></svg>
    </div>

    <div class="remodal card-pop-modal add-event-modal" data-remodal-id="add-event-modal" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">
      <button data-remodal-action="close" class="remodal-close"></button>
      <h1>Add event</h1>
      <form action="">
        <div class="form-group">
          <input type="text" class="form-control" name="event_name" placeholder="Event">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="event_country" placeholder="Country">
        </div>
        <div class="form-group">
          <div class="input-group date">
            <input type="text" class="form-control" placeholder="Event Date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>
        <br>
        <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
        <button data-remodal-action="confirm" class="remodal-confirm">Add event</button>
      </form>
    </div>

    <div class="remodal card-pop-modal edit-event-modal" data-remodal-id="edit-event-modal" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">
      <button data-remodal-action="close" class="remodal-close"></button>
      <h1>Edit event</h1>
      <form action="">
        <div class="form-group">
          <input type="text" class="form-control edit-event-name" name="event_name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control edit-event-country" name="event_country">
        </div>
        <div class="form-group">
          <div class="input-group date">
            <input type="text" class="form-control edit-event-date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>
        <br>
        <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
        <button data-remodal-action="confirm" class="remodal-confirm">Edit event</button>
      </form>
    </div>
    <div class="fab modal-fab animated" data-remodal-target="edit-event-modal">
      <svg class="icon icon-mode_edit"><use xlink:href="assets/js/symbol-defs.svg#icon-mode_edit"></use></svg>
    </div>
    <div class="fab panel-remove modal-fab animated" data-remodal-target="remove-event-modal"> 
      <svg class="icon-bin2"><use xlink:href="assets/js/symbol-defs.svg#icon-bin2"></use></svg>
    </div> 
  </div>
</section>