<section class="home-container animsition"
  data-animsition-in-class="fade-in"
  data-animsition-in-duration="1000"
  data-animsition-out-class="fade-out"
  data-animsition-out-duration="800"
>
  <form action="">
    <header class="nav-pills-dd">
      <div class="list-unstyled nav-pill-holder text-center">
        <div class="pill">
          <select class="text-uppercase">
                  <option data-display="Lead From">Reset</option>
                  <option value="joey">Joey</option>
                  <option value="tim">Tim</option>
                  <option value="martin">Martin</option>
                  <option value="merlene">Merlene</option>
                </select>
        </div>
        <div class="pill">
          <select class="text-uppercase">
                  <option data-display="Event">Reset</option>
                  <option value="joey">Joey</option>
                  <option value="tim">Tim</option>
                  <option value="martin">Martin</option>
                  <option value="merlene">Merlene</option>
                </select>
        </div>
        <div class="pill">
          <select class="text-uppercase">
                  <option data-display="Lead Strength">Reset</option>
                  <option value="cold">Cold</option>
                  <option value="warm">Warm</option>
                  <option value="hot">Hot</option>
                </select>
        </div>
        <div class="pill">
          <select class="text-uppercase">
                  <option data-display="Hubspot">Reset</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
        </div>
        <div class="pill pill-button">
          <label for="takePhoto" class="nice-select text-uppercase" role="button">
                  Take a photo
                  <svg class="icon-add_a_photo">
                    <use xlink:href="assets/js/symbol-defs.svg#icon-add_a_photo"></use>
                  </svg>
                  <input id="takePhoto" type="file" accept="image/*" capture="camera" />
                </label>
        </div>
      </div>
    </header>

    <div class="container panel-form-holder">
      <div class="row desktop-form-panel">
        <div class="col-sm-6 col-md-3 panel-form">
          <h1 class="panel-header text-uppercase text-center">Contact Details</h1>
          <section class="form-panel">
            <div class="field-holder">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Company name">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Name">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Position">
              </div>
              <div class="form-group">
                <input class="form-control" type="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Skype">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Mobile">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Company website">
              </div>
            </div>
          </section>
        </div>
        <div class="col-sm-6 col-md-3 panel-form">
          <h1 class="panel-header text-uppercase text-center">Type of Business</h1>
          <section class="form-panel">
            <section class="checkbox-field" id="business-type">
              <div class="fab business-type-fab">
                <svg class="icon-note_add">
                  <use xlink:href="assets/js/symbol-defs.svg#icon-note_add"></use>
                </svg>
                <textarea placeholder="Enter your notes here..." autocomplete="off"></textarea>
                <section class="note-actions">
                  <svg class="icon-check">
                    <use xlink:href="assets/js/symbol-defs.svg#icon-check"></use>
                  </svg>
                </section>
              </div>
              <div class="checkbox-field-holder">
                <div class="form-group">
                  <label class="form-control clearfix" for="dating">
                          Dating <span class="checkmark pull-right">✓</span>
                          <input id="dating" name="dating" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="adult">
                          Adult <span class="checkmark pull-right">✓</span>
                          <input id="adult" name="adult" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="ecommerce">
                          E-commerce <span class="checkmark pull-right">✓</span>
                          <input id="ecommerce" name="ecommerce" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="billing">
                          Billing / Payment Merchant <span class="checkmark pull-right">✓</span>
                          <input id="billing" name="billing" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix " for="mainstream">
                          Mainstream <span class="checkmark pull-right">✓</span>
                          <input id="mainstream" name="mainstream" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="web">
                          Web <span class="checkmark pull-right">✓</span>
                          <input id="web" name="web" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="mobile">
                          Mobile <span class="checkmark pull-right">✓</span>
                          <input id="mobile" name="mobile" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="content-producer">
                          Content Producer <span class="checkmark pull-right">✓</span>
                          <input id="content-producer" name="content-producer" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="cams">
                          Cams <span class="checkmark pull-right">✓</span>
                          <input id="cams" name="cams" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="traffic-network">
                          Traffic Network <span class="checkmark pull-right">✓</span>
                          <input id="traffic-network" name="traffic-network" type="checkbox">
                        </label>
                </div>
                <div class="form-group others-field other-business-type-field">
                  <input class="form-control" name="other-business-type" type="text" placeholder="Others">
                </div>
              </div>
            </section>
          </section>
        </div>
        <div class="col-sm-6 col-md-3 panel-form">
          <h1 class="panel-header text-uppercase text-center">Service interested in</h1>
          <section class="form-panel">
            <section class="checkbox-field" id="service-interested">
              <div class="fab service-interested-fab">
                <svg class="icon-note_add">
                  <use xlink:href="assets/js/symbol-defs.svg#icon-note_add"></use>
                </svg>
                <textarea placeholder="Enter your notes here..." autocomplete="off"></textarea>
                <section class="note-actions">
                  <svg class="icon-check">
                    <use xlink:href="assets/js/symbol-defs.svg#icon-check"></use>
                  </svg>
                </section>
              </div>
              <div class="checkbox-field-holder">
                <div class="form-group">
                  <label class="form-control clearfix" for="adCompliance">
                          Ad Compliance Moderation <span class="checkmark pull-right">✓</span>
                          <input id="adCompliance" name="ad-compliance" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="smm">
                          Social Media Management <span class="checkmark pull-right">✓</span>
                          <input id="smm" name="smm" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="customerSupport">
                          Customer Support Services <span class="checkmark pull-right">✓</span>
                          <input id="customerSupport" name="customer-support" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="smsServices">
                          SMS Services <span class="checkmark pull-right">✓</span>
                          <input id="smsServices" name="sms-services" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix " for="chatServices">
                          Chat Services <span class="checkmark pull-right">✓</span>
                          <input id="chatServices" name="chat-services" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="luvtxt">
                          LUVTXT <span class="checkmark pull-right">✓</span>
                          <input id="luvtxt" name="luvtxt" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="smscams">
                          SMSCAMS <span class="checkmark pull-right">✓</span>
                          <input id="smscams" name="smscams" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="smsgo">
                          SMSGO <span class="checkmark pull-right">✓</span>
                          <input id="smsgo" name="smsgo" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="betterEdit">
                          Better Edit <span class="checkmark pull-right">✓</span>
                          <input id="betterEdit" name="betterEdit" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="seo">
                          SEO <span class="checkmark pull-right">✓</span>
                          <input id="seo" name="seo" type="checkbox">
                        </label>
                </div>
                <div class="form-group others-field other-service-interested-field">
                  <input class="form-control" name="other-service-interested" type="text" placeholder="Others">
                </div>
              </div>
            </section>
          </section>
        </div>
        <div class="col-sm-6 col-md-3 panel-form">
          <h1 class="panel-header text-uppercase text-center">Countries Active</h1>
          <section class="form-panel">
            <section class="checkbox-field" id="countries-active">
              <!-- <div class="fab countries-active-fab">
                <svg class="icon-note_add">
                  <use xlink:href="assets/js/symbol-defs.svg#icon-note_add"></use>
                </svg>
                <textarea placeholder="Enter your notes here..." autocomplete="off"></textarea>
                <section class="note-actions">
                  <svg class="icon-check">
                    <use xlink:href="assets/js/symbol-defs.svg#icon-check"></use>
                  </svg>
                </section>
              </div> -->
              <div class="checkbox-field-holder">
                <div class="form-group">
                  <label class="form-control clearfix" for="usa">
                          USA <span class="checkmark pull-right">✓</span>
                          <input id="usa" name="usa" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="uk">
                          UK <span class="checkmark pull-right">✓</span>
                          <input id="uk" name="uk" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="canada">
                          Canada <span class="checkmark pull-right">✓</span>
                          <input id="canada" name="canada" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="netherlands">
                          Netherlands <span class="checkmark pull-right">✓</span>
                          <input id="netherlands" name="netherlands" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix " for="switzerland">
                          Switzerland <span class="checkmark pull-right">✓</span>
                          <input id="switzerland" name="switzerland" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="belgium">
                          Belgium <span class="checkmark pull-right">✓</span>
                          <input id="belgium" name="belgium" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="germany">
                          Germany <span class="checkmark pull-right">✓</span>
                          <input id="germany" name="germany" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="france">
                          France <span class="checkmark pull-right">✓</span>
                          <input id="france" name="france" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="italy">
                          Italy <span class="checkmark pull-right">✓</span>
                          <input id="italy" name="italy" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="brazil">
                          Brazil <span class="checkmark pull-right">✓</span>
                          <input id="brazil" name="brazil" type="checkbox">
                        </label>
                </div>
                <div class="form-group">
                  <label class="form-control clearfix" for="spain">
                          Spain <span class="checkmark pull-right">✓</span>
                          <input id="spain" name="spain" type="checkbox">
                        </label>
                </div>
                <div class="form-group others-field other-countries-active-field">
                  <input class="form-control" name="other-countries-active" type="text" placeholder="Others">
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>

      <div class="mobile-form-panel swipe" id='slider'>
        <section class='swipe-wrap'>
          <div class="mobile-panel-form">
            <h1 class="panel-header text-uppercase text-center">Contact Details</h1>
            <section class="form-panel">
              <div class="field-holder">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Company name">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Name">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Position">
                </div>
                <div class="form-group">
                  <input class="form-control" type="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Skype">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Mobile">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Company website">
                </div>
              </div>
            </section>
          </div>
          <div class="mobile-panel-form">
            <h1 class="panel-header text-uppercase text-center">Type of Business</h1>
            <section class="form-panel">
              <section class="checkbox-field" id="business-type">
                <div class="fab business-type-fab">
                  <svg class="icon-note_add">
                    <use xlink:href="assets/js/symbol-defs.svg#icon-note_add"></use>
                  </svg>
                  <textarea placeholder="Enter your notes here..." autocomplete="off"></textarea>
                  <section class="note-actions">
                    <svg class="icon-check">
                      <use xlink:href="assets/js/symbol-defs.svg#icon-check"></use>
                    </svg>
                  </section>
                </div>
                <div class="checkbox-field-holder">
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-dating">
                            Dating <span class="checkmark pull-right">✓</span>
                            <input id="m-dating" name="dating" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-adult">
                            Adult <span class="checkmark pull-right">✓</span>
                            <input id="m-adult" name="adult" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-ecommerce">
                            E-commerce <span class="checkmark pull-right">✓</span>
                            <input id="m-ecommerce" name="ecommerce" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-billing">
                            Billing / Payment Merchant <span class="checkmark pull-right">✓</span>
                            <input id="m-billing" name="billing" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix " for="m-mainstream">
                            Mainstream <span class="checkmark pull-right">✓</span>
                            <input id="m-mainstream" name="mainstream" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-web">
                            Web <span class="checkmark pull-right">✓</span>
                            <input id="m-web" name="web" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-mobile">
                            Mobile <span class="checkmark pull-right">✓</span>
                            <input id="m-mobile" name="mobile" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-content-producer">
                            Content Producer <span class="checkmark pull-right">✓</span>
                            <input id="m-content-producer" name="content-producer" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-cams">
                            Cams <span class="checkmark pull-right">✓</span>
                            <input id="m-cams" name="cams" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-traffic-network">
                            Traffic Network <span class="checkmark pull-right">✓</span>
                            <input id="m-traffic-network" name="traffic-network" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group others-field other-business-type-field">
                    <input class="form-control" name="other-business-type" type="text" placeholder="Others">
                  </div>
                </div>
              </section>
            </section>
          </div>
          <div class="mobile-panel-form">
            <h1 class="panel-header text-uppercase text-center">Service interested in</h1>
            <section class="form-panel">
              <section class="checkbox-field" id="service-interested">
                <div class="fab service-interested-fab">
                  <svg class="icon-note_add">
                    <use xlink:href="assets/js/symbol-defs.svg#icon-note_add"></use>
                  </svg>
                  <textarea placeholder="Enter your notes here..." autocomplete="off"></textarea>
                  <section class="note-actions">
                    <svg class="icon-check">
                      <use xlink:href="assets/js/symbol-defs.svg#icon-check"></use>
                    </svg>
                  </section>
                </div>
                <div class="checkbox-field-holder">
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-adCompliance">
                            Ad Compliance Moderation <span class="checkmark pull-right">✓</span>
                            <input id="m-adCompliance" name="ad-compliance" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-smm">
                            Social Media Management <span class="checkmark pull-right">✓</span>
                            <input id="m-smm" name="smm" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-customerSupport">
                            Customer Support Services <span class="checkmark pull-right">✓</span>
                            <input id="m-customerSupport" name="customer-support" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-smsServices">
                            SMS Services <span class="checkmark pull-right">✓</span>
                            <input id="m-smsServices" name="sms-services" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix " for="m-chatServices">
                            Chat Services <span class="checkmark pull-right">✓</span>
                            <input id="m-chatServices" name="chat-services" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-luvtxt">
                            LUVTXT <span class="checkmark pull-right">✓</span>
                            <input id="m-luvtxt" name="luvtxt" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-smscams">
                            SMSCAMS <span class="checkmark pull-right">✓</span>
                            <input id="m-smscams" name="smscams" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-smsgo">
                            SMSGO <span class="checkmark pull-right">✓</span>
                            <input id="m-smsgo" name="smsgo" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-betterEdit">
                            Better Edit <span class="checkmark pull-right">✓</span>
                            <input id="m-betterEdit" name="betterEdit" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-seo">
                            SEO <span class="checkmark pull-right">✓</span>
                            <input id="m-seo" name="seo" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group others-field other-service-interested-field">
                    <input class="form-control" name="other-service-interested" type="text" placeholder="Others">
                  </div>
                </div>
              </section>
            </section>
          </div>
          <div class="mobile-panel-form">
            <h1 class="panel-header text-uppercase text-center">Countries Active</h1>
            <section class="form-panel">
              <section class="checkbox-field" id="countries-active">
                <!-- <div class="fab countries-active-fab">
                  <svg class="icon-note_add">
                    <use xlink:href="assets/js/symbol-defs.svg#icon-note_add"></use>
                  </svg>
                  <textarea placeholder="Enter your notes here..." autocomplete="off"></textarea>
                  <section class="note-actions">
                    <svg class="icon-check">
                      <use xlink:href="assets/js/symbol-defs.svg#icon-check"></use>
                    </svg>
                  </section>
                </div> -->
                <div class="checkbox-field-holder">
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-usa">
                            USA <span class="checkmark pull-right">✓</span>
                            <input id="m-usa" name="usa" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-uk">
                            UK <span class="checkmark pull-right">✓</span>
                            <input id="m-uk" name="uk" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-canada">
                            Canada <span class="checkmark pull-right">✓</span>
                            <input id="m-canada" name="canada" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-netherlands">
                            Netherlands <span class="checkmark pull-right">✓</span>
                            <input id="m-netherlands" name="netherlands" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix " for="m-switzerland">
                            Switzerland <span class="checkmark pull-right">✓</span>
                            <input id="m-switzerland" name="switzerland" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-belgium">
                            Belgium <span class="checkmark pull-right">✓</span>
                            <input id="m-belgium" name="belgium" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-germany">
                            Germany <span class="checkmark pull-right">✓</span>
                            <input id="m-germany" name="germany" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-france">
                            France <span class="checkmark pull-right">✓</span>
                            <input id="m-france" name="france" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-italy">
                            Italy <span class="checkmark pull-right">✓</span>
                            <input id="m-italy" name="italy" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-brazil">
                            Brazil <span class="checkmark pull-right">✓</span>
                            <input id="m-brazil" name="brazil" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group">
                    <label class="form-control clearfix" for="m-spain">
                            Spain <span class="checkmark pull-right">✓</span>
                            <input id="m-spain" name="spain" type="checkbox">
                          </label>
                  </div>
                  <div class="form-group others-field other-countries-active-field">
                    <input class="form-control" name="other-countries-active" type="text" placeholder="Others">
                  </div>
                </div>
              </section>
            </section>
          </div>
        </section>
      </div>

    </div>

    <section class="home-form-action-buttons">
      <section class="container">
        <button role="button" class="more-notes-btn" type="button">More Notes</button>
        <button role="button" class="more-notes-submit" type="submit">Submit Lead</button>
        <textarea class="animated" placeholder="Enter more notes here..." autocomplete="off"></textarea>
        <div class="fab more-notes-fab">
          <svg class="icon-check">
            <use xlink:href="assets/js/symbol-defs.svg#icon-check"></use>
          </svg>
        </div>
      </section>
    </section>
  </form>
</section>