<section class="lead-grid animsition" 
  data-animsition-in-class="fade-in"
  data-animsition-in-duration="1000"
  data-animsition-out-class="fade-out"
  data-animsition-out-duration="800"
>
  <div class="card-list" id="lead-list">
    <div class="page-header">
      <input class="search" placeholder="Search...">
      <div class="sort-holder">
        <span class="sort" data-sort="name">Sort by name</span>
        <span class="sort" data-sort="date">Sort by date</span>
      </div>
    </div>

    <section class="cd-modal">
      <svg class="icon-close cd-modal-close"><use xlink:href="assets/js/symbol-defs.svg#icon-close"></use></svg> 
      <div class="container">
        <div class="page-header clearfix">
          <div class="lead-strength-holder pull-left">
              Lead strength <span class="lead-strength"></span>
          </div>
          <div class="pull-right">
            <span class="panel-date"></span>
          </div>
        </div>
        <h1 class="panel-name"></h1>
        <div class="page-header">
          <div class="panel-holder">
            <label>Lead From</label>
            <p class="panel-lead-from"></p>
          </div>
        </div>
        <div class="page-header">
          <div class="panel-holder">
            <label>Has Hubspot Entry?</label>
            <p class="panel-hubspot-entry"></p>
          </div>
        </div>
        <div class="page-header">
          <div class="panel-holder">
            <label>Contact Details</label>
            <p class="panel-contact-details" id="contact-details"></p>
            <script id="panel-contact-details" type="x-tmpl-mustache">
              <ul class="list-unstyled">
                <li>
                  <label>Company Name</label>
                  <p>{{ company_name }}</p>
                </li>
                <li>
                  <label>Position</label>
                  <p>{{ position }}</p>
                </li>
                <li>
                  <label>Email</label>
                  <p>{{ email }}</p>
                </li>
                <li>
                  <label>Skype</label>
                  <p>{{ skype }}</p>
                </li>
                <li>
                  <label>Mobile</label>
                  <p>{{ mobile }}</p>
                </li>
                <li>
                  <label>Company Website</label>
                  <p>{{ company_website }}</p>
                </li>
              </ul>
            </script>
          </div>
        </div>
        <div class="page-header">
          <div class="panel-holder">
            <label>Business Type</label>
            <div class="panel-holder">
            <p class="panel-contact-details" id="business-type"></p>
            <script id="panel-business-type" type="x-tmpl-mustache">
              <ul class="list-unstyled">
                  <li>
                    <label>Types</label>
                    <p>
                      {{#details}}
                        <span class="pill">{{.}}</span>
                      {{/details}}
                    </p>
                  </li>
                  <li>
                    <label>Notes</label>
                    <p class="panel-business-type view-notes"></p>
                  </li>
              </ul>
            </script>
          </div>
          </div>
        </div>
        <div class="page-header">
          <div class="panel-holder">
            <label>Services Interested In</label>
            <div class="panel-holder">
            <p class="panel-contact-details" id="service-interested"></p>
            <script id="panel-service-interested" type="x-tmpl-mustache">
              <ul class="list-unstyled">
                  <li>
                    <label>Services</label>
                    <p>
                      {{#details}}
                        <span class="pill">{{.}}</span>
                      {{/details}}
                    </p>
                  </li>
                  <li>
                    <label>Notes</label>
                    <p class="panel-service-interested view-notes"></p>
                  </li>
              </ul>
            </script>
          </div>
          </div>
        </div>
        <div class="page-header">
          <div class="panel-holder">
            <label>More Notes</label>
            <p class="panel-more-notes"></p>
          </div>
        </div>
        <div class="page-header image-holder">
          <div class="panel-holder">
            <label>Image Uploaded</label>
            <p>
              <img class="center-block img-responsive" src="" alt="">
            </p>
          </div>
        </div>
        <div class="remodal card-pop-modal remove-lead-modal" data-remodal-id="modal" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">

          <button data-remodal-action="close" class="remodal-close"></button>
          <h1>Remodal</h1>
          <p>
            Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
          </p>
          <br>
          <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
          <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
        </div>
      </div>
    </section> 
    
    <ul class="row row-fluid list-unstyled list">
    </ul>
    <ul class="pagination"></ul>
    <div class="fab modal-fab animated">
      <svg class="icon-download"><use xlink:href="assets/js/symbol-defs.svg#icon-download"></use></svg>
    </div>
    <div class="fab panel-remove modal-fab animated" data-remodal-target="modal"> 
      <svg class="icon-bin2"><use xlink:href="assets/js/symbol-defs.svg#icon-bin2"></use></svg>
    </div> 
    <div class="fab download-report-fab animated">
      <svg class="icon-download"><use xlink:href="assets/js/symbol-defs.svg#icon-download"></use></svg>
    </div>
  </div>
</section>