/*=============================================
  Font-imports
=============================================*/
/*=============================================
  Frame Normalizer
=============================================*/
.row-fluid { margin: 0; } 
.col-fluid { padding: 0; }
.center-block {
  display: block;
  margin: 0 auto;
}
.frame-debug { border: 1px red solid; }

/*=============================================
  Bootstrap override
=============================================*/
.btn {
  outline: none;
}

.navbar-brand { height: auto; }

.navbar-nav { margin: 0; }

.navbar-nav>li>a { 
  padding-top: 20px;
  padding-bottom: 0;
}

.navbar-nav>li:last-child>a { padding-right: 0; } 

.nav>li { display: inline-block; }

.navbar-inverse { 
  background-color: #263238;
  border: none;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
              0 5px 8px 0 rgba(0,0,0,.14),
              0 1px 14px 0 rgba(0,0,0,.12);
}

/*=============================================
  Main CSS
=============================================*/
html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body {
  font-family: 'Nunito', sans-serif;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  background-color: #f6f8fe;
  overflow-x: hidden !important;
}

body.overflow-hidden {
  overflow: hidden;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #ff3a26;
  background: -moz-radial-gradient(center, ellipse cover, #ff3a26 0%, #ff2446 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ff3a26 0%,#ff2446 100%);
  background: radial-gradient(ellipse at center, #ff3a26 0%,#ff2446 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a26', endColorstr='#ff2446',GradientType=1 );
}

.login-panel {
  width: 300px; 
  padding: 15px;
}

@media only screen and (max-width: 320px) {
  .login-panel { padding: 48px; }
}

.login-panel img { margin-bottom: 2em; }


@media only screen and (max-width: 414px) {
  .login-panel img { width: 100px; }
}

.login-panel .form-group { margin-bottom: 2em; }

.login-panel svg {
  width: 21px;
  height: 21px;
  fill: #1f1f21;
}

@media only screen and (max-width: 414px) {
  .login-panel svg {
    width: 18px;
    height: 18px;
  }
}

@media only screen and (max-width: 320px) {
  .login-panel svg {
    width: 16px;
    height: 16px;
  }
}

.login-panel .input-group-addon {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent !important;
}

.login-panel .form-control { 
  height: auto;
  padding-left: 2em;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  box-shadow: none;
}

@media only screen and (max-width: 414px) {
  .login-panel .form-control { 
    padding-left: 3.4em;
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .login-panel .form-control { 
    padding-left: 1.5em;
    font-size: 14px;
  }
}
  
.login-panel ::-webkit-input-placeholder { 
  color: #1f1f21;
  text-transform: uppercase;
}
.login-panel ::-moz-placeholder { 
  color: #1f1f21;
  text-transform: uppercase;
}
.login-panel :-ms-input-placeholder { 
  color: #1f1f21;
  text-transform: uppercase;
}
.login-panel :-moz-placeholder { 
  color: #1f1f21;
  text-transform: uppercase;
}

.login-panel .login-btn {
  position: relative;
  top: 0;
  padding: 14px 40px;
  font-size: 16px;
  font-weight: 900;
  background-color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.login-panel .login-btn:focus { outline: none; }

.login-panel .login-btn:active { 
  top: 3px;
  box-shadow: none;
  outline: none;
}

@media only screen and (max-width: 414px) {
  .login-panel .login-btn {
    padding: 10px 30px;
    font-size: 12px;
  }
}

.navbar-nav svg {
  width: 22px;
  height: 22px;
  fill: #fff;
}

.nav-pills-dd { 
  position: relative;
  height: 60px;
}

@media only screen and (max-width: 480px) {
  .nav-pills-dd { 
    height: 43px;
  }
}

.nav-pill-holder {
  position: absolute;
  left: 50%;
  /*right: 0;*/
  z-index: 10;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  /* -webkit-overflow-scrolling: touch; */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.nav-pill-holder::-webkit-scrollbar { display: none; }

.pill-container { position: relative; }

.nav-pill-holder > .pill { display: inline-block; }

.pill select { display: none; }

.nav-pill-holder.active { height: 172px; }

.pill.active {
  background: #ff3a26;
  background: -moz-radial-gradient(center, ellipse cover, #ff3a26 0%, #ff2446 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ff3a26 0%,#ff2446 100%);
  background: radial-gradient(ellipse at center, #ff3a26 0%,#ff2446 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a26', endColorstr='#ff2446',GradientType=1 );
}

.pill-button label.nice-select {
  line-height: 42px;
  outline: none;
  border: none !important;
}

.pill-button label.nice-select svg {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 20px;
  top: 50%;
  /*line-height: 14px;*/
  fill: #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

@media only screen and (max-width: 480px) {
  .pill-button label.nice-select {
    line-height: 30px;
  }

  .pill-button label.nice-select svg {
    top: 48%;
  }
}

.pill-button label.nice-select input[type=file] { display: none; }

.home-container { height: 100%; }

.panel-form-holder {
  height: calc(100vh - 230px); 
  padding-top: 1.3em;
  overflow-y: auto;
}

@media only screen and (min-width: 769px) {
  .panel-form-holder { height: 100%; }
}

@media only screen and (max-width: 480px) {
  .panel-form-holder {
    height: 100%;
    padding-top: inherit;
    padding-bottom: 1.3em;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-form-panel { display: none; }
  .mobile-form-panel { 
    display: block;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),
                0 2px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.12);
  }
}

@media only screen and (min-width: 768px) {
  .desktop-form-panel { display: block; }
  .mobile-form-panel { display: none; }
}

.panel-form { margin-bottom: 1.3em; }

.form-panel {
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),            
              0 3px 1px -2px rgba(0,0,0,.12);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

@media only screen and (max-width: 414px) {
  .form-panel { box-shadow: none; }
}

h1.panel-header {
  margin: 0;
  padding: 12px;
  font-size: 23px;
  font-weight: 700;
  color: #f2f2f2;
  background-color: #263238;
}

 @media only screen and (min-width: 769px) {
  h1.panel-header {
    font-size: 16px;
  }
} 

.field-holder {
  position: relative;
  padding: 12px;
}

.form-panel { overflow-y: auto; }

.field-holder .form-group,
.checkbox-field-holder .form-group { margin-bottom: 6px; }

.field-holder .form-group:last-child { margin-bottom: 0; }

.field-holder .form-control,
.others-field .form-control,
.checkbox-field-holder .form-control {
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 21px;
  color: #263238;
  background-color: #e6ecf3;
  border: none;
  outline: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: none;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
  transition-duration:0.4s;
  -webkit-transition-duration:0.4s;
  -ms-transition-duration:0.4s;
  -moz-transition-duration:0.4s;
}

@media only screen and (max-width: 480px) {
  .field-holder .form-control {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.field-holder .form-control:focus {
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),
              0 3px 4px 0 rgba(0,0,0,.14),
              0 3px 3px -2px rgba(0,0,0,.12);
  -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),
                      0 3px 4px 0 rgba(0,0,0,.14),
                      0 3px 3px -2px rgba(0,0,0,.12);
}

.field-holder .form-control::-webkit-input-placeholder { color: #263238; }
.field-holder .form-control::-moz-placeholder { color: #263238; }
.field-holder .form-control:-ms-input-placeholder { color: #263238; }
.field-holder .form-control:-moz-placeholder { color: #263238; }

.checkbox-field-holder .form-control { 
  font-weight: 400;
  line-height: 0; 
}

.checkbox-field-holder .form-control input[type="checkbox"] { display: none; }

.checkbox-field { 
  position: relative;
  height: 100%;
  padding: 12px;
}

.checkbox-field-holder {
  position: absolute;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  overflow-y: auto;
}

.checkbox-field:before {
  position: absolute;
  content: '';
  z-index: 2;
  top: -7px;
  left: 0;
  right: 0;
  width: 100%;
  height: 15px;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}

.checkbox-field:after { display: none; }

@media only screen and (max-width: 480px) {
  .checkbox-field:after {
    display: block;
    position: absolute;
    content: '';
    z-index: 2;
    bottom: -7px;
    left: 0;
    right: 0;
    width: 100%;
    height: 15px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  }
}

.checkbox-field-holder .form-group label,
.checkbox-field-holder .form-group:last-child { margin-bottom: 0; }

.checkbox-field-holder .form-control {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  background-color: #ebecef;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

@media only screen and (max-width: 480px) {
  .checkbox-field-holder .form-control {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 21px;
  }
}

@media only screen and (min-width: 769px) {
  .checkbox-field-holder .form-control { font-size: 16px; }
} 

.checkbox-field-holder .form-control.checked {
  font-weight: 700;
  color: #fff;
  background: #ff3a26;
  background: -moz-radial-gradient(center, ellipse cover, #ff3a26 0%, #ff2446 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ff3a26 0%,#ff2446 100%);
  background: radial-gradient(ellipse at center, #ff3a26 0%,#ff2446 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a26', endColorstr='#ff2446',GradientType=1 );
}

.others-field input[type="text"]::-webkit-input-placeholder {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #263238; 
}
.others-field input[type="text"]::-moz-placeholder { 
  padding-top: 12px;
  padding-bottom: 12px;
  color: #263238; 
}
.others-field input[type="text"]:-ms-input-placeholder { 
  padding-top: 12px;
  padding-bottom: 12px;
  color: #263238; 
}
.others-field input[type="text"]:-moz-placeholder { 
  padding-top: 12px;
  padding-bottom: 12px;
  color: #263238; 
}

.others-field input[type="text"]:focus::-webkit-input-placeholder {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff; 
}
.others-field input[type="text"]:focus::-moz-placeholder { 
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff; 
}
.others-field input[type="text"]:focus:-ms-input-placeholder { 
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff; 
}
.others-field input[type="text"]:focus:-moz-placeholder { 
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff; 
}

.other-business-type-field .has-value,
.other-service-interested-field .has-value,
.other-countries-active-field .has-value,
.others-field input[type="text"]:focus {
  color: #fff;
  background: #ff3a26;
  background: -moz-radial-gradient(center, ellipse cover, #ff3a26 0%, #ff2446 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ff3a26 0%,#ff2446 100%);
  background: radial-gradient(ellipse at center, #ff3a26 0%,#ff2446 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a26', endColorstr='#ff2446',GradientType=1 );
}

.checkmark {
  color: #ebecef;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.form-control.checked .checkmark { color: #fff; }

.fab,
.note-actions {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 5;
  right: 12px;
  bottom: 12px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #263238;

  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .fab {
    right: 20px;
    bottom: 20px;
    width: 65px;
    height: 65px;
  }
}

.note-actions {
  background: #fff !important;
}

.fab svg,
.note-actions svg {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  fill: #fff;
}

.note-actions svg { fill: #ff3a26; }

.to-expand {
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.business-type-fab textarea,
.service-interested-fab textarea,
.countries-active-fab textarea { display: none; }

.fab textarea::-webkit-input-placeholder {
  color: #838997; 
}
.fab textarea::-moz-placeholder { 
  color: #838997; 
}
.fab textarea:-ms-input-placeholder { 
  color: #838997; 
}
.fab textarea:-moz-placeholder { 
  color: #838997; 
}

textarea:focus { outline: none; }

.show-textarea {
  display: block !important;
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 79px);
  padding: 15px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
}

.home-form-action-buttons {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  left: 0;
  height: calc(100% - 125px);
  padding: 1em 5px;
  text-align: center;
  background-color: #263238;
  box-shadow: 0 -2px 4px -1px rgba(0,0,0,.1),
              0 -4px 5px 0 rgba(0,0,0,.1),
              0 -1px 10px 0 rgba(0,0,0,.1);
  transform: translateY(825px);
  -webkit-transform: translateY(825px);
  -moz-transform: translateY(825px);
  -ms-transform: translateY(825px);
  -o-transform: translateY(825px);
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}

.home-form-action-buttons .container {
  position: relative;
  height: 100%;
}

.home-form-action-buttons .fab { position: fixed; }

.home-form-action-buttons.more-notes-expanded {
  height: calc(100% - 77px);
}

@media only screen and (max-width: 480px) {
  .home-form-action-buttons {
    height: 70px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .home-form-action-buttons.more-notes-expanded {
    height: calc(100% - 72px);
  }
}

@media only screen and (min-width: 769px) {
  .home-form-action-buttons {
    bottom: 0;
    transform: translateY(743px);
    -webkit-transform: translateY(743px);
    -moz-transform: translateY(743px);
    -ms-transform: translateY(743px);
    -o-transform: translateY(743px);
  }
  .more-notes-expanded {
    transform: translateY(-793px);
    -webkit-transform: translateY(-793px);
    -moz-transform: translateY(-793px);
    -ms-transform: translateY(-793px);
    -o-transform: translateY(-793px);
  }
  .home-form-action-buttons.more-notes-expanded {
    height: calc(100% - 63px);
  }
}

.home-form-action-buttons button {
  margin-left: 6px;
  margin-right: 6px;
  padding: 12px 16px;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: #ff3a26;
  background: -moz-radial-gradient(center, ellipse cover, #ff3a26 0%, #ff2446 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ff3a26 0%,#ff2446 100%);
  background: radial-gradient(ellipse at center, #ff3a26 0%,#ff2446 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a26', endColorstr='#ff2446',GradientType=1 );
  border: none;
  border-radius: 3px;;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  outline: none;
}

.more-notes-expanded {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.more-notes-btn,
.more-notes-submit,
.more-notes-fab,
.home-form-action-buttons textarea.animated {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
}

.more-notes-btn {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.more-notes-submit {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.more-notes-fab {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  cursor: pointer;
}

.home-form-action-buttons textarea.animated {
  animation-duration: .2s; 
  -webkit-animation-duration: .2s; 
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s; 
}

.home-form-action-buttons textarea.animated {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 79px);
  padding: 15px;
  font-size: 16px;
  color: #fff;
   background-color: transparent; 
  border: none;
  resize: none;
}

.home-form-action-buttons textarea.fadeOut { 
  z-index: -10;
  visibility: hidden;
}

.more-notes-fab {
  background: #ff3a26;
  background: -moz-radial-gradient(center, ellipse cover, #ff3a26 0%, #ff2446 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ff3a26 0%,#ff2446 100%);
  background: radial-gradient(ellipse at center, #ff3a26 0%,#ff2446 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a26', endColorstr='#ff2446',GradientType=1 );
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .nice-select {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
  }
}

.showbox {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}

.lead-grid {
  padding: 12px;
}

.search {
  display: block; 
  width: 100%;
  height: 50px;
  padding: 6px 15px;
  font-size: 16px;
  border: none; 
  outline: none; 
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.sort-holder .sort {
  display: inline-block;
  position: relative;
  width: calc(50% - 6px);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px 18px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3c424f;
  background-color: #e6e9f2;
  border-radius: 20px;
}

.sort-holder .sort:after {
  display: block;
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  right: 25px;
  top: 47%;
  margin-top: -4px;
  border-bottom: 2px solid #3c424f;
  border-right: 2px solid #3c424f;
  pointer-events: none;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.sort-holder .sort:first-child { margin-right: 3px; }
.sort-holder .sort:last-child { margin-left: 3px; }

.sort-holder .sort.sort-out:after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); 
}

.card-panel {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  -webkit-flex-flow: wrap row;
  flex-flow: wrap row;
  color: inherit;
  cursor: pointer;
}

.card-panel .data-holder {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 12px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
   transition: all 0.3s 0.2s ease-in-out;
   -webkit-transition: all 0.3s 0.2s ease-in-out;
   -moz-transition: all 0.3s 0.2s ease-in-out;
   -ms-transition: all 0.3s 0.2s ease-in-out;
   -o-transition: all 0.3s 0.2s ease-in-out;
}

.data-holder.to-circle {
   width: 4em;
   height: 4em;
   border-radius:50%;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   -ms-border-radius:50%;
   -o-border-radius:50%;
}

.card-list .list li { 
  padding-left: 3px;
  padding-right: 3px;
}

.list li:nth-child(even),
.list li:nth-child(odd) { padding-bottom: 6px; }

.data-holder .lead_strength {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.data-holder .lead_strength[data-lead_strength="hot"] { background-color: #ff2446; }

.data-holder .lead_strength[data-lead_strength="warm"] { background-color: #FFEB3B; }

.data-holder .lead_strength[data-lead_strength="cold"] { background-color: #2196F3; }

.data-holder .date {
  font-size: 11px;
  font-weight: 600;
  color: #686b77;
  line-height: 1;
}

.data-holder h3.name,
.data-holder h3.event_name {
  position: relative;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #263238;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.data-holder h3.name:before,
.data-holder h3.event_name:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.data-holder .lead_from,
.data-holder .country {
  font-size: 12px;
  font-style: italic;
  color: #686b77;
}

.card-list .page-header { 
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 0;
}

 svg.icon-bin2,
 svg.icon-spinner2 {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  /* padding-top: .8em;
  padding-bottom: .8em; */
  fill: #fff;
}

 svg.icon-spinner2 { 
  display: none;
  height: 34px;
  padding-bottom: 0.4em;
  padding-top: 0.8em;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.lead_strength,
.date,
.name,
.lead_from,
.event_name,
.country,
.panel-remove {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.cd-modal-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  background-color: transparent; 
   -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); 
    /* -webkit-transform: translate(-2em, -2em);
  -moz-transform: translate(-2em, -2em);
  -ms-transform: translate(-2em, -2em);
  -o-transform: translate(-2em, -2em);   */
  /* transform: translate(-2em, -2em); */
  -webkit-transition: visibility 0s .5s;
  -moz-transition: visibility 0s .5s;
  transition: visibility 0s .5s; 
}

.cd-modal-bg.is-visible {
  opacity: 1; 
  z-index: 1;      
  visibility: visible;
   background-color: #fff;   
}

.cd-modal {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-top: 63px;
  padding-top: 5em;
  padding-bottom: 30px;
  /*height: calc(100% - 63px);*/
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .cd-modal { padding-top: 100px; }
}

.modal-is-visible .cd-modal {
  visibility: visible;
  opacity: 1;
  overflow-y: auto;
  -webkit-transition: visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: visibility 0s 0s, opacity 0.3s 0s;
  transition: visibility 0s 0s, opacity 0.3s 0s;
}

.cd-modal-close {
  position: absolute;
  z-index: 4;
  top: 20px;
  right: 15px;
  height: 50px;
  width: 50px;
  padding: 12px;
  border-radius: 50%;
  /* background-color: #f6f8fe; */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: transateZ(0);
  -moz-transform: transateZ(0);
  -ms-transform: transateZ(0);
  -o-transform: transateZ(0);
  transform: transateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  fill: #263238;
  cursor: pointer;
}

.modal-is-visible .cd-modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.force-acceleration {
  -webkit-transform: transateZ(0);
  -moz-transform: transateZ(0);
  -ms-transform: transateZ(0);
  -o-transform: transateZ(0);
  transform: transateZ(0);
}

.data-holder-content {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.ipad-fadein {
  visibility: visible;
  opacity: 1;
}

.ipad-fadeout {
  visibility: hidden;
  opacity: 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover { z-index: initial; }

.cd-modal .page-header {
  border-color: #e6e9f2;
}

.lead-strength-holder {
  display: inline-block;
  position: relative;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 21px;
  font-size: 14px;
  color: #5c5f6e;
}

.cd-modal .lead-strength {
  position: absolute;
  right: 0;
  top: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.cd-modal .lead-strength.hot { background-color: #ff2446; }
.cd-modal .lead-strength.warm { background-color: #FFEB3B; }
.cd-modal .lead-strength.cold { background-color: #2196F3; }

.cd-modal .panel-date {
  display: inline-block;
  color: #5c5f6e;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.3;
}

.cd-modal label { 
  margin-bottom: 0;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cd-modal .panel-holder {
  font-size: 16px;
  font-weight: 100;
  color: #5c5f6e;
}

.cd-modal .panel-holder li label { color: #838997; }

.cd-modal .panel-holder li { padding-left: 12px; }

.cd-modal .panel-holder li p {
  margin-bottom: 6px;
}

.cd-modal .panel-holder li:not(:last-child) p {
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e9f2;
}

.cd-modal .panel-holder .pill {
  display: inline-block;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 6px 15px;
  font-size: 14px;
  color: #3c424f;
  background-color: #e6e9f2;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.cd-modal .view-notes { font-size: 14px; }

.modal-fab { 
  position: fixed;
  z-index: 10;
  visibility: hidden;
  background: #ff3a26;
  background: -moz-radial-gradient(center, ellipse cover, #ff3a26 0%, #ff2446 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ff3a26 0%,#ff2446 100%);
  background: radial-gradient(ellipse at center, #ff3a26 0%,#ff2446 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a26', endColorstr='#ff2446',GradientType=1 );
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}

.modal-fab.zoomIn { visibility: visible; }

.modal-fab svg { 
  width: 23px;
  height: 23px;
}

.modal-fab {
  -webkit-animation-delay: .6s;
  animation-delay: .6s; 
  -webkit-animation-duration: .25s !important;
  animation-duration: .25s !important;
}

.panel-remove { 
  /*min-height: 40px;*/
  background: #e6e9f2;
  cursor: pointer;
}

.panel-remove.fab { 
  bottom: 80px;
  background: #263238;
}

@media only screen and (max-width: 768px) {
  .panel-remove.fab { 
    bottom: 100px;
    background: #263238;
  }
}

.panel-remove svg.circular { 
  display: none;
  top: 34%;
}

.download-report-fab {
  position: fixed;
  z-index: 2;
  right: 12px;
  bottom: 12px;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  -webkit-animation-duration: .25s;
  animation-duration: .25s;
}

.card-pop-modal .form-control{
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 18px !important;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}























