.nice-select {
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-tap-highlight-color: transparent;
  /*background-color: #fff;*/
  /*border: solid 1px #e8e8e8;*/
  background: #ff3a26;
  background: -moz-radial-gradient(center, ellipse cover, #ff3a26 0%, #ff2446 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ff3a26 0%,#ff2446 100%);
  background: radial-gradient(ellipse at center, #ff3a26 0%,#ff2446 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a26', endColorstr='#ff2446',GradientType=1 );
  color: #fff;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  height: 42px;
  line-height: 43px;
  outline: none;
  padding-left: 18px;
  padding-right: 40px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
  .nice-select:hover {
    border-color: #fff; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #fff; }
  .pill:not(:last-child) .nice-select:after {
    width: 7px !important;
    height: 7px !important;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 25px;
    top: 47%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 5px;
      width: 5px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    width: 200px;
    background: #ff3a26;
    background: -moz-radial-gradient(center, ellipse cover, #ff3a26 0%, #ff2446 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff3a26 0%,#ff2446 100%);
    background: radial-gradient(ellipse at center, #ff3a26 0%,#ff2446 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a26', endColorstr='#ff2446',GradientType=1 );
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    /*box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);*/
    box-sizing: border-box;
    margin-top: 6px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
            transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    /*min-height: 40px;*/
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #263238; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }

.nav-pill-holder .pill:not(:last-child) .nice-select.open {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
